services:
  app:
    build:
      context: .
      dockerfile: docker/app/Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
      - ./pom.xml:/app/pom.xml:ro
    working_dir: /app
    # environment:
    #   - REDIS_HOST=redis
    #   - REDIS_PORT=6379
    # depends_on:
    #   - redis

#   redis:
#     image: redis:7-alpine
#     ports:
#       - "6379:6379"
#     volumes:
#       - redis-data:/data

# volumes:
#   redis-data:
